@page
@model CNSVM.Pages.Groups.CreateModel
@{
	var showModal = Request.Query["showModal"].ToString() == "true";
}
<div class="container-fluid mt-4">

	<form onsubmit="handleSubmit(event)" method="post">
		<div class="form-group mt-4" id="justificationSection">
			<label class="form-label">Nombre del grupo:</label>
			<input asp-for="Group.Name" class="form-control" />
			<span asp-validation-for="Group.Name" class="text-danger"></span>
			@if (ViewData.ModelState.ContainsKey("Group"))
			{
				<div class="text-danger">
					@ViewData.ModelState["Group"].Errors.First().ErrorMessage
				</div>
			}
			@if (ViewData.ModelState.ContainsKey("NameExist"))
			{
				<div class="text-danger">
					@ViewData.ModelState["NameExist"].Errors.First().ErrorMessage
				</div>
			}
		</div>
		<input type="text" name="ids" hidden />
		<div class="d-flex justify-content-center">
			<button type="submit" class="btn btn-primary btns-forms mx-2">Crear</button>
			<button type="button" class="btn btn-danger btns-forms mx-2" data-toggle="modal" data-target="#modal-danger">Cancelar</button>
		</div>
	</form>
	<div class="row">
		<!-- Buscador de doctores disponibles -->
		<div class="col-md-5 mb-4">
			<input type="text" id="search-doctors" onkeyup="searchDoctors(this.value)" placeholder="Buscar doctores..." class="form-control mb-2" />
			<table id="table-doctors" class="table table-bordered">
				<thead>
					<tr>
						<th colspan="2">Doctores disponibles</th>
					</tr>
				</thead>
				<tbody>
					@if (Model.Doctors != null)
					{
						@foreach (var doctor in Model.Doctors)
						{
							<tr>
								<td hidden>@doctor.Id</td>
								<td>@doctor.Name @doctor.FirstName @doctor.LastName</td>
								<td class="center-cell"><button class="btn-plus" onclick="AddDoctorDOM(this)">+</button></td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>

		<!-- Buscador de miembros -->
		<div class="col-md-5 offset-md-1 mb-4">
			<input type="text" id="search-members" onkeyup="filterMembers(this.value)" placeholder="Buscar miembros..." class="form-control mb-2" />

			<table id="table-members" class="table table-bordered">
				<thead>
					<tr>
						<th colspan="2">Miembros</th>
					</tr>
				</thead>
				<tbody>
					<tr id="no-members-message" style="max-height: 300px; overflow-y: auto;">
						<td colspan="3" class="text-center">Todavía no existen miembros</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
</div>
<div class="modal fade" id="createGroupModal" tabindex="-1" aria-labelledby="createGroupLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-success text-white">
				<h5 class="modal-title" id="voteConfirmationLabel"><i class="bi bi-check-circle"></i> Grupo creado</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				El grupo fue creado exitosamente
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-success">
	<div class="modal-dialog">
		<div class="modal-content bg-success">
			<div class="modal-header">
				<h4 class="modal-title">Grupo creado</h4>
			</div>
			<div class="modal-body">
				<p>El grupo fue creado exitosamente</p>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="modal-danger">
	<div class="modal-dialog">
		<div class="modal-content bg-danger">
			<div class="modal-header">
				<h4 class="modal-title">¿Está seguro de cancelar la creación de grupo?</h4>
			</div>
			<div class="modal-body">
				<p>Sera redirigido a la ventana anterior</p>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-outline-light" data-dismiss="modal">No</button>
				<button type="button" class="btn btn-outline-light" onclick="redirectToIndexGroups()">Si</button>
			</div>
		</div>
	</div>
</div>
@section Scripts{
	<script>
		$(document).ready(function () {
			var showModal = new URLSearchParams(window.location.search).get("showModal");
			if (showModal) {
				$('#modal-success').modal('show');
				setTimeout(function () {
					window.location.href = 'http://localhost:5082/Groups/Index';
				}, 2500); 
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}


