@page
@model CNSVM.Pages.Groups.EditModel
@{
}
<div class="container-fluid mt-4">
    <!-- Se añade asp-page-handler para asegurarse de que apunte a OnPost -->
    <form method="post" asp-page-handler="Save" onsubmit="setIdsValue()">
        <div class="form-group mt-4" id="justificationSection">
            <label class="form-label">Nombre del grupo:</label>
            <input asp-for="Group.Name" class="form-control" />
            <span asp-validation-for="Group.Name" class="text-danger"></span>
            @if (ViewData.ModelState.ContainsKey("Group"))
            {
                <div class="text-danger">
                    @ViewData.ModelState["Group"].Errors.First().ErrorMessage
                </div>
            }
        </div>
        <input asp-for="Ids" name="Ids" hidden />
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    </form>

    <div class="row">
        <!-- Buscador de doctores disponibles -->
        <div class="col-md-5 mb-4">
            <input type="text" id="search-doctors" onkeyup="searchDoctors(this.value)" placeholder="Buscar doctores..." class="form-control mb-2" />
            <table id="table-doctors" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">Doctores disponibles</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Doctors != null)
                    {
                        @foreach (var doctor in Model.Doctors)
                        {
                            <tr>
                                <td hidden>@doctor.Id</td>
                                <td>@doctor.Name @doctor.FirstName @doctor.LastName</td>
                                <td class="center-cell"><button class="btn-plus" onclick="AddDoctorDOM(this)">+</button></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <!-- Buscador de miembros -->
        <div class="col-md-5 offset-md-1 mb-4">
            <input type="text" id="search-members" onkeyup="filterMembers(this.value)" placeholder="Buscar miembros..." class="form-control mb-2" />
            <table id="table-members" class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">Miembros</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Members != null && Model.Members.Any())
                    {
                        @foreach (var member in Model.Members)
                        {
                            <tr origin="@member.Id">
                                <td hidden>@member.Id</td>
                                <td>@member.Name @member.FirstName @member.LastName</td>
                                <td class="center-cell"><button class="btn-plus btn-remove" onclick="RemoveDoctorDOM(this)">x</button></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr id="no-members-message">
                            <td colspan="3" class="text-center">Todavía no existen miembros</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

