@page
@model CNSVM.Pages.Patients.DetailsModel
@{
}
<!-- Información del paciente -->
<div class="card mb-3 mt-4" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-12 col-md-4">
            @if (Model.PhotoPath != null)
            {
                <img src="@Model.PhotoPath" asp-append-version="true" class="img-fluid rounded-start mt-4 ml-4" alt="Imagen del paciente">
            }
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h4>@Model.PatientDetail?.Name</h4>
                <div class="card-text">Edad: <strong>@Model.PatientDetail?.BirthDate</strong></div>
                <div class="card-text">Sexo: <strong>@Model.PatientDetail?.Gender</strong></div>
                <div class="card-text">Ciudad: <strong>@Model.PatientDetail?.City</strong></div>
                <div class="card-text">CI: <strong>@Model.PatientDetail?.DocumentNumber</strong></div>
                <div class="card-text">N° Seguro social: <strong>@Model.PatientDetail?.SocialSecurityNumber</strong></div>
                <div class="card-text">Contacto: <strong>@Model.PatientDetail?.ContactPhone</strong></div>
            </div>
        </div>
    </div>
</div>

<!-- Despliegue de las prescripciones y medicamentos del paciente -->
<div class="card mt-4">
    <div class="card-header">
        <h3 class="card-title">Prescripciones y Medicamentos</h3>
    </div>

    <!-- Verificamos si hay prescripciones para mostrar -->
    @if (Model.Prescriptions != null && Model.Prescriptions.Any())
    {
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 25px">Nro</th>
                        <th>Medicamento</th>
                        <th style="width: 70px">Forma Farmacéutica</th>
                        <th>Fecha de Solicitud</th>
                        <th>Prescrito por</th>
                        <th style="width: 50px">Estado</th>
                        
                        <th style="width: 150px"></th>
                        
                    </tr>
                </thead>
                <tbody>
                    @{
                        int nro = 1; 
                    }
                    @foreach (var prescription in Model.Prescriptions)
                    {

                        foreach (var medicamentPrescription in prescription.MedicamentPrescriptions)
                        {
                            var daysDifference = (DateTime.Now - prescription.RequestDate).Days; 
                            string relativeDate;

                            if (daysDifference == 0)
                            {
                                relativeDate = "Hoy";
                            }
                            else if (daysDifference == 1)
                            {
                                relativeDate = "Ayer";
                            }
                            else if (daysDifference < 30)
                            {
                                relativeDate = $"Hace {daysDifference} días";
                            }
                            else if (daysDifference < 365)
                            {
                                int monthsDifference = daysDifference / 30;
                                relativeDate = $"Hace {monthsDifference} mes(es)";
                            }
                            else
                            {
                                int yearsDifference = daysDifference / 365;
                                relativeDate = $"Hace {yearsDifference} año(s)";
                            }
                            <tr>
                                <td>@nro</td> <!-- Aquí usas el contador -->
                                <td>@medicamentPrescription.Medicament.Name</td>
                                <td>@medicamentPrescription.Medicament.PharmaceuticalForm</td>
                                <td>
                                    @prescription.RequestDate.ToString("dd/MM/yyyy") <br />
                                    <small class="text-muted">(@relativeDate)</small>
                                </td>
                                <td>
                                    @prescription.Doctor.Name @prescription.Doctor.FirstName @prescription.Doctor.LastName -@prescription.Doctor.Specialty
                                </td>
                                <td>
                                    @if (medicamentPrescription.Status == 'A')
                                    {
                                        <span class="badge bg-success">Aprobado</span>
                                    }
                                    else if (medicamentPrescription.Status == 'R')
                                    {
                                        <span class="badge bg-danger">Rechazado</span>
                                    }
                                    else if (medicamentPrescription.Status == 'P')
                                    {
                                        <span class="badge bg-info">En Espera</span>
                                    }
                                </td>
                                
                                <td>
                                    <a asp-page="MedicalCriterions" asp-route-medicamentPrescriptionId="@medicamentPrescription.Id" class="btn btn-primary">Historial de Criterios</a>
                                </td>
                            </tr>
                            nro++;
                        }
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No hay prescripciones disponibles para este paciente.
        </div>
    }
</div>