@page
@model CNSVM.Pages.Patients.DetailsModel
@{
}
<div class="card mb-3 mt-4" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-12 col-md-4">
            <img src="@Model.PhotoPath" asp-append-version="true" class="img-fluid rounded-start mt-4 ml-4" alt="Imagen del paciente">
        </div>
        <div class="col-12 col-md-8">
            <div class="card-body">
                <h4>@Model.PatientDetail.Name</h4>
                <div class="card-text">Edad: <strong>@Model.PatientDetail.Age</strong></div>
                <div class="card-text">Sexo: <strong>@Model.PatientDetail.Gender</strong></div>
                <div class="card-text">Ciudad: <strong>@Model.PatientDetail.City</strong></div>
                <div class="card-text">CI: <strong>@Model.PatientDetail.DocumentNumber</strong></div>
                <div class="card-text">N° Seguro social: <strong>@Model.PatientDetail.SocialSecurityNumber</strong></div>
                <div class="card-text">Contacto: <strong>@Model.PatientDetail.ContactPhone</strong></div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-4">
    <div class="card-header">
        <h3 class="card-title">Prescripciones y Medicamentos</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Prescripción ID</th>
                    <th>Fecha de Solicitud</th>
                    <th>Estado</th>
                    <th>Medicamento</th>
                    <th>Forma Farmacéutica</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prescription in Model.Prescriptions)
                {
                    foreach (var medicamentPrescription in prescription.MedicamentPrescriptions)
                    {
                        <tr>
                            <td>@prescription.Id</td>
                            <td>@prescription.RequestDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                @if (medicamentPrescription.Status == 'A')
                                {
                                    <span class="badge bg-success">Aprobado</span>
                                }
                                else if (medicamentPrescription.Status == 'R')
                                {
                                    <span class="badge bg-danger">Rechazado</span>
                                }
                                else if (medicamentPrescription.Status == 'P')
                                {
                                    <span class="badge bg-info">En Espera</span>
                                }
                            </td>
                            <td>@medicamentPrescription.Medicament.Name</td>
                            <td>@medicamentPrescription.Medicament.PharmaceuticalForm</td>
                            <td>
                                <a asp-page="Vote" asp-route-id="@prescription.Id" class="btn btn-primary">Ver Detalles</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
